<div class="h-auto w-auto left-[1vh] top-[1vh] fixed z-50">
  <div class="x-sidebar-button">
    <button>
      <img src="../../../assets/general/sidebarLeft.png" alt="menu icon">
    </button>
  </div>
</div>

<div class="x-sidebar-container hidden h-[100vh] p-[1vw] fixed text-white text-center z-50">

  <div class="w-auto h-min flex justify-between">
    <div class="x-theme-button">
      <button>
        <img class="x-theme-icon" src="../../../assets/general/darkTheme.png" alt="menu icon">
      </button>
    </div>

    <div class="x-sidebar-button">
      <button>
        <img src="../../../assets/general/sidebarRight.png" alt="menu icon">
      </button>
    </div>
  </div>

  <div class="mt-[3vh] mx-auto pb-[3vh] h-[80vh] overflow-y-auto flex justify-between flex-col">

    <p class="x-sidebar-paragraph">
      <a href="#PacMan">Pac&#8288;&#8211;&#8288;Man</a> 
      <br/>
      <a href="#FlappyBird">Flappy&nbsp;Bird</a> 
      <br/>
      <a href="#SpaceInvaders">SpaceInvaders</a> 
      <br/>
      <a href="#Tetris">Tetris</a> 
      <br/>
      <a href="#SuperMario">Super&nbsp;Mario</a> 
      <br/>
      <a href="#Pong">Pong</a> 
    </p>

    <p class="x-sidebar-paragraph">
      <a href="/news" style="color: #72e12e">Daily News</a>
    </p>

    <p class="x-sidebar-paragraph">
      CC_Games 2023-2024 <br><br> <a href="mailto:cc_games@mail.ru"><span>cc_games@mail.ru</span></a>
    </p>
    
  </div>

</div>