<div class="h-auto w-auto left-[1vh] top-[1vh] fixed z-50">
    <div class="x-sidebar-button">
      <button>
        <img src="../../../assets/general/sidebarLeft.png" alt="menu icon">
      </button>
    </div>
  </div>

  <div class="x-sidebar-container hidden h-[100vh] p-[1vw] fixed text-white text-center z-50">

    <div class="w-auto h-min flex justify-between">
      <div class="x-theme-button">
        <button>
          <img class="x-theme-icon" src="../../../assets/general/darkTheme.png" alt="menu icon">
        </button>
      </div>

      <div class="x-sidebar-button">
        <button>
          <img src="../../../assets/general/sidebarRight.png" alt="menu icon">
        </button>
      </div>
    </div>

    <div class="mt-[3vh] mx-auto pb-[3vh] h-[80vh] overflow-y-auto flex justify-between flex-col">

      <p class="x-sidebar-paragraph">
        CC_Games - это небольшой сайт-каталог, на котором Вы можете узнать несколько интересных фактов об играх прошлого и поиграть в них
      </p>

      <p class="x-sidebar-paragraph">
        Команда: <br><br>
        Балдин К. <br>
        Синявский А. <br>
        Тарасов А. <br>
        Дуненков В. <br>
        Воловиков К. <br>
        Василенко Д. <br><br>
      </p>

      <p class="x-sidebar-paragraph">
        CC_Games 2023-2024 <br><br> <a href="mailto:cc_games@mail.ru"><span>cc_games@mail.ru</span></a>
      </p>
    </div>

  </div>