<header class="w-full h-[10vh]">
    <div>
        <div class="flex flex-row justify-between px-[1vw] py-[1vh]">
            <div class="max-h-[8vh]">
                <button class="x-return-button">
                    <img src="../../../assets/general/sidebarLeft.png" class="mr-auto w-auto h-[8vh]" alt="">
                </button>
            </div>
            
            <div class="h-[8vh] my-auto text-center items-center align-center">
                <h1 class="table my-0 mx-auto" style="font-size: calc((5vh + 1vw) / 2);">DAILY NEWS</h1>
            </div>
            
            <div class="max-h-[8vh]">
                <button class="x-theme-button">
                    <img src="../../../assets/general/darkTheme.png" class="x-theme-icon ml-auto w-auto h-[8vh]" alt="">
                </button>
            </div>
        </div>
    </div>
</header>