.x-sidebar-container {
  background-color: #01002F;
}

.x-main-container {
  background-color: #01002F;
}

.x-pacMan-container {
  background-color: #023E29;
}

.x-pacMan-container .x-game-text-container {
  background-color: #01110B;
}

.x-flappyBird-container {
  background-color: #014339;
}

.x-flappyBird-container .x-game-name-container {
  color: #131918;
}

.x-flappyBird-container .x-game-text-container {
  background-color: #041E1A;
}

.x-spaceInvaders-container {
  background-color: #573D02;
}

.x-spaceInvaders-container .x-game-name-container {
  color: #5B0909;
}

.x-spaceInvaders-container .x-game-text-container {
  background-color: #2E2104;
}

.x-spaceInvaders-container .x-slider-button {
  color: #DC8383;
}

.x-tetris-container {
  background-color: #320A01;
}

.x-tetris-container .x-game-name-container {
  color: #B82626;
}

.x-tetris-container .x-game-text-container {
  background-color: #992121;
}

.x-tetris-container .x-slider-button {
  color: #992121;
}

.x-mario-container {
  background-color: #6A0B08;
}

.x-mario-container .x-game-name-container {
  color: #EE3630;
}

.x-mario-container .x-game-text-container {
  background-color: #340B0A;
}

.x-mario-container .x-slider-button {
  color: #470A0A;
}

.x-pong-container {
  background-color: #3D0505;
}

.x-pong-container .x-game-name-container {
  color: #685858;
}

.x-pong-container .x-game-text-container {
  background-color: #150202;
}

.x-pong-container .x-slider-button {
  color: #150202;
}

footer {
  background-color: #3D0505;
}

footer span:hover {
  transform: scale(2);
  color: #685858;
}

.x-game-text-container {
  color: #fff;
  scrollbar-color: #969696 #2c2c2c;
}

html {
  scrollbar-color: #969696 #2c2c2c;
}