.x-sidebar-container {
  background-color: #006F74;
}

.x-main-container {
  background-color: #006F74;
}

.x-pacMan-container {
  background-color: #36B688;
}

.x-flappyBird-container {
  background-color: #81CDC2;
}

.x-spaceInvaders-container {
  background-color: #FEF2D7;
}

.x-spaceInvaders-container .x-slider-button {
  color: #DC8383;
}

.x-tetris-container {
  background-color: #F38C76;
}

.x-tetris-container .x-slider-button {
  color: #470A0A;
}

.x-mario-container {
  background-color: #F24E4A;
}

.x-mario-container .x-slider-button {
  color: #470A0A;
}

.x-pong-container {
  background-color: #D72626;
}

.x-pong-container .x-slider-button {
  color: #470A0A;
}

footer {
  background-color: #D72626;
}

footer span:hover {
  color: #470A0A;
}

.x-game-text-container {
  background-color: #D9D9D9;
  scrollbar-color: grey white;
}

.x-game-name-container {
  color: #000;
}

.x-slider-button {
  color: #fff;
}