$html-scrollbar-thumb-color-light: #c1c1c1;
$html-scrollbar-thumb-color-dark: #969696;

$html-scrollbar-track-color-light: #f1f1f1;
$html-scrollbar-track-color-dark: #2c2c2c;


$main-background-color-light: #006F74;
$main-background-color-dark: #01002F;


$default-game-name-color-light: #000000;
$default-game-slider-color-light: #ffffff;
$default-game-text-color-light: #000000;
$default-game-text-background-color-light: #d9d9d9;
$default-game-text-scrollbar-thumb-color-light: #808080;
$default-game-text-scrollbar-track-color-light: #ffffff;

$default-game-name-color-dark: #000000;
$default-game-slider-color-dark: #ffffff;
$default-game-text-color-dark: #ffffff;
$default-game-text-background-color-dark: #d9d9d9;
$default-game-text-scrollbar-thumb-color-dark: #969696;
$default-game-text-scrollbar-track-color-dark: #2c2c2c;


$pacman-background-color-light: #36B688;
$pacman-background-color-dark: #023E29;

$pacman-text-background-color-dark: #01110B;


$flappybird-background-color-light: #81CDC2;
$flappybird-background-color-dark: #014339;

$flappybird-name-color-dark: #131918;

$flappybird-text-background-color-dark: #041E1A;


$spaceInvaders-background-color-light: #FEF2D7;
$spaceInvaders-background-color-dark: #573D02;

$spaceInvaders-name-color-dark: #5B0909;

$spaceInvaders-text-background-color-dark: #5B0909;

$spaceInvaders-slider-color-light: #DC8383;
$spaceInvaders-slider-color-dark: #DC8383;


$tetris-background-color-light: #F38C76;
$tetris-background-color-dark: #320A01;

$tetris-name-color-dark: #B82626;

$tetris-text-background-color-dark: #992121;

$tetris-slider-color-light: #DC8383;
$tetris-slider-color-dark: #992121;


$mario-background-color-light: #F24E4A;
$mario-background-color-dark: #6A0B08;

$mario-name-color-dark: #EE3630;

$mario-text-background-color-dark: #340B0A;

$mario-slider-color-light: #470A0A;
$mario-slider-color-dark: #470A0A;


$pong-background-color-light: #D72626;
$pong-background-color-dark: #3D0505;

$pong-name-color-dark: #685858;

$pong-text-background-color-dark: #150202;

$pong-slider-color-light: #470A0A;
$pong-slider-color-dark: #150202;


$footer-background-color-light: #D72626;
$footer-background-color-dark: #3D0505;

$footer-span-color-light: #470A0A;
$footer-span-color-dark: #685858;


$colors: (
    --html-scrollbar-thumb-color: ($html-scrollbar-thumb-color-light, $html-scrollbar-thumb-color-dark),
    --html-scrollbar-track-color: ($html-scrollbar-track-color-light, $html-scrollbar-track-color-dark),
    
    --main-background-color: ($main-background-color-light, $main-background-color-dark),
    
    --default-game-name-color: ($default-game-name-color-light, $default-game-name-color-dark),
    --default-game-slider-color: ($default-game-slider-color-light, $default-game-slider-color-dark),
    --default-game-text-color: ($default-game-text-color-light, $default-game-text-color-dark),
    --default-game-text-background-color: ($default-game-text-background-color-light, $default-game-text-background-color-dark),
    --default-game-text-scrollbar-thumb-color: ($default-game-text-scrollbar-thumb-color-light, $default-game-text-scrollbar-thumb-color-dark),
    --default-game-text-scrollbar-track-color: ($default-game-text-scrollbar-track-color-light, $default-game-text-scrollbar-track-color-dark),

    --pacman-background-color: ($pacman-background-color-light, $pacman-background-color-dark),
    --pacman-text-background-color: ($default-game-text-background-color-light, $pacman-text-background-color-dark),

    --flappybird-background-color: ($flappybird-background-color-light, $flappybird-background-color-dark),
    --flappybird-name-color: ($default-game-name-color-light, $flappybird-name-color-dark),
    --flappybird-text-background-color: ($default-game-text-background-color-light, $flappybird-text-background-color-dark),

    --spaceInvaders-background-color: ($spaceInvaders-background-color-light, $spaceInvaders-background-color-dark),
    --spaceInvaders-name-color: ($default-game-name-color-light, $spaceInvaders-name-color-dark),
    --spaceInvaders-text-background-color: ($default-game-text-background-color-light, $spaceInvaders-text-background-color-dark),
    --spaceInvaders-slider-color: ($spaceInvaders-slider-color-light, $spaceInvaders-slider-color-dark),

    --tetris-background-color: ($tetris-background-color-light, $tetris-background-color-dark),
    --tetris-name-color: ($default-game-name-color-light, $tetris-name-color-dark),
    --tetris-text-background-color: ($default-game-text-background-color-light, $tetris-text-background-color-dark),
    --tetris-slider-color: ($tetris-slider-color-light, $tetris-slider-color-dark),

    --mario-background-color: ($mario-background-color-light, $mario-background-color-dark),
    --mario-name-color: ($default-game-name-color-light, $mario-name-color-dark),
    --mario-text-background-color: ($default-game-text-background-color-light, $mario-text-background-color-dark),
    --mario-slider-color: ($mario-slider-color-light, $mario-slider-color-dark),
    
    --pong-background-color: ($pong-background-color-light, $pong-background-color-dark),
    --pong-name-color: ($default-game-name-color-light, $pong-name-color-dark),
    --pong-text-background-color: ($default-game-text-background-color-light, $pong-text-background-color-dark),
    --pong-slider-color: ($pong-slider-color-light, $pong-slider-color-dark),


    --footer-background-color: ($footer-background-color-light, $footer-background-color-dark),
    --footer-span-color: ($footer-span-color-light, $footer-span-color-dark)
);