<div class="x-main-container w-full h-[100vh] relative text-center align-center">

  <div class="h-full w-full grid grid-cols-3 grid-rows-2">
    <figure>
      <img class="x-pic-rocket x-main-bg-pic" src="../assets/main/rocket.png" alt="">
    </figure>
    <figure>
      <img class="x-pic-red-guy x-main-bg-pic rotate-[180deg]" src="../assets/main/red.png" alt="">
    </figure>
    <figure>
      <img class="x-pic-bird x-main-bg-pic absolute origin-top-left rotate-[15deg]" src="../assets/main/bird.png" alt="">
    </figure>
    <figure>
      <img class="x-pic-pacman x-main-bg-pic bottom-0 left-[1vw] absolute scale-[1.3]"  src="../assets/main/pacman.png" alt="">  
    </figure>
    <figure>
    <!--  -->
    </figure>
    <figure>
      <img class="x-pic-mario x-main-bg-pic bottom-0 absolute" src="../assets/main/mario.png" alt="">
    </figure>
  </div>

  <div class="top-0 px-[20vw] absolute flex w-full h-full flex-col justify-center items-center">
    <div class="x-main-ccg w-fit text-center text-yellow-400 font-normal leading-[11vh] pb-[5vh] z-10">
      <h1>Catalog of Classic Games </h1>
    </div>

    <div class="x-main-news text-3xl">
      <h3><a href="/news" style="color: #72e12e">Daily News</a></h3>
    </div>
  </div>
</div>
